In [64]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as py

In [65]:
# Fitbit Data Files
daily_activity_path = 'data/dailyActivity_merged1.csv'

# Read the daily activity results 
daily_activity = pd.read_csv(daily_activity_path)

daily_activity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [66]:
# Checking the number of User ID
user_id = daily_activity['Id'].nunique()
user_id

33

In [67]:
daily_activity.Id.drop_duplicates()

0      1503960366
31     1624580081
62     1644430081
92     1844505072
123    1927972279
154    2022484408
185    2026352035
216    2320127002
247    2347167796
265    2873212765
296    3372868164
316    3977333714
346    4020332650
377    4057192912
381    4319703577
412    4388161847
443    4445114986
474    4558609924
505    4702921684
536    5553957443
567    5577150313
597    6117666160
625    6290855005
654    6775888955
680    6962181067
711    7007744171
737    7086361926
768    8053475328
799    8253242879
818    8378563200
849    8583815059
880    8792009665
909    8877689391
Name: Id, dtype: int64

In [68]:
# Create a clean DataFrame by dropping the duplicate ID
clean_daily_activity = daily_activity[daily_activity['Id'].isin(duplicate_User_ID)]
clean_daily_activity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863